body{
    background-color: pink;
}
.container{
    background-color: red;
    height: 300px;
    border: 2px solid green;
    box-sizing: border-box;
display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows: repeat(6,1fr);
  /*  width: 100%;
    margin: 40px 20px 10px;
 padding-left: 300px;
padding-top: 30px;*/
 }
/*.child1{
    background-color: blue;
    height: 150px;
    width: 150px;
    color: white;
    border: 1px dotted greenyellow;
    padding: 40px;
    border-radius: 50%;


}*/
/*.child1,.child2,.child3{
    height: 200px;
    width: 200px;
    border: 1px solid green;
    margin: 30px;
/*    display: inline-block;
*/
/*
}
.child1{
    background-color: aqua;
}
.child2{
    background-color: palegreen;
}
.child3{
    background-color: peru;
}*/
.child1{
    background-color: black;
    color: white;
    height: 70px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;

}